.adpList {
    height: 496px;
    box-shadow: rgba(142, 151, 158, 0.15) 0px 4px 19px 0px;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    max-width: 650px;

    iframe {
        border: 0px;
    }
}